version: '3.8'

services:
  frontend:
    image: ${FRONTEND_IMAGE:-slxvkvel/frontend:1.1}
    ports:
      - "80:80"
    depends_on:
      - auth-service
      - notes-service
    networks:
      - notes-network

  auth-service:
    image: ${AUTH_SERVICE_IMAGE:-slxvkvel/auth-service:1.1}
    environment:
      - DB_HOST=${DB_HOST}
      - DB_PORT=${DB_PORT}
      - DB_USER=${DB_USER}
      - DB_PASSWORD=${DB_PASSWORD}
      - DB_NAME=${DB_NAME}
      - DB_SSLMODE=${DB_SSLMODE}
      - JWT_SECRET=${JWT_SECRET}
      - REDIS_HOST=${REDIS_HOST}
      - REDIS_PORT=${REDIS_PORT}
    depends_on:
      - postgres
      - redis
    networks:
      - notes-network

  notes-service:
    image: ${NOTES_SERVICE_IMAGE:-slxvkvel/notes-service:1.1}
    environment:
      - DB_HOST=${DB_HOST}
      - DB_PORT=${DB_PORT}
      - DB_USER=${DB_USER}
      - DB_PASSWORD=${DB_PASSWORD}
      - DB_NAME=${DB_NAME}
      - DB_SSLMODE=${DB_SSLMODE}
      - JWT_SECRET=${JWT_SECRET}
    depends_on:
      - postgres
    networks:
      - notes-network

  postgres:
    image: postgres:15
    environment:
      - POSTGRES_USER=${DB_USER}
      - POSTGRES_PASSWORD=${DB_PASSWORD}
      - POSTGRES_DB=${DB_NAME}
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./init.sql:/docker-entrypoint-initdb.d/init.sql
    networks:
      - notes-network

  redis:
    image: redis:7-alpine
    ports:
      - "6379:6379"
    networks:
      - notes-network

volumes:
  postgres_data:

networks:
  notes-network:
    driver: bridge